.Goals-page {

}

.Goals-page .tier {
  min-height: 10vh;
  margin: 5vh;
  min-width: 90vw;
  padding: 1vh;
  border: 1px solid;
  color: white;
}

.Goals-page .goal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  min-height: 5vh;
  font-size: calc(9px + 2vmin);
  line-height: 100%;
}

.Goals-page .goal.accomplished {
  color: green;
}

.Goals-page .goal .exercise {
  min-width: 50vw;
}

.Goals-page .goal .achieved {
  min-width: 15vw;
  text-align: center; 
  z-index: 1;
  position: relative;
  height: 70%;
  background: #ffffff1a;
}
.Goals-page .goal .target {
  min-width: 20vw;
  text-align: right;
}

.Goals-page .progress-wrapper{
  position: relative;
  min-width: 20vw;
}

.Goals-page .progress-bar {
  position: absolute;
  background: green;
  height: 70%;
  width: 50%;
  top: 0;
}