
.Workout-page .exercise .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Workout-page .exercise .info .name {
  min-width: 50vw;
  text-align: left;
}

.Workout-page .exercise .info .weight {
  min-width: 15vw;
  text-align: right;
}
.Workout-page .exercise .info .format {
  min-width: 20vw;
  text-align: left;
}

.Workout-page .passedSets {
  color: green;
}

.Workout-page .failedSets {
  color: red;
}

.Workout-page button {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  font-size: 3vh;
  margin: 0 10px;
}